@media (prefers-color-scheme: dark) {
    body {
        --background-color: #101010;

        --text-color: rgb(232, 237, 245);
        --text-color-opposite: rgb(28,20,12);

        --card-color: #2e3034;
        --card-hover: rgb(75, 73, 73);

        --shadow-color: black;

        --accept-color: #1eb940;
        --accept-hover: #63ee81;
        --deny-color: #f04351;
        --deny-hover: #ff606d;
    }
}

body {
    background-color: var(--background-color);
    color: #ffffff;
    font-family: "Work Sans", sans-serif;
    margin:0;
    margin-top: 4.5em
}

#links {
    width: 400px;
    text-align: left;
    font-size: x-large;
    color: white;
    display: flex;
    flex-direction: column;
}

#links a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
    border: white 1px solid;
    border-radius: 5px;
}

#links a:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

.page_wrapper {
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.card {
    margin-top: 10px;
    background-color: var(--card-color);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 4px #222121;
}

img {
    box-shadow: 0px 0px 4px var(--shadow-color);
    border-radius: 10px;
    text-align: center;
    margin: 5px;
}

.image_container {
    position: relative;
    text-align: center;
}

.top_left {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 4em;
    background-color: #101010;
}

.user_button {
    width: 100%;
    padding: 3px 40px;
    border: 0px;
    border-radius: 10px;
    background-color: var(--card-color);
    color: var(--text-color);
    font-family:'Jost', sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    transition: 0.15s;
    box-shadow: 0px 0px 4px var(--shadow-color);
}

h2 {
    margin-left: 5px;
    padding-left: 0px;
}